---
layout: page
title: Blog
tagline: The Science of Data
group: navigation
---
{% include JB/setup %}

<ul class="posts">
  {% for post in site.posts %}
    <li>
      <h3>
      <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
      </h3>
      <p class="greydate">{{ post.date | date: "%B %-d %Y" }}</p>
      <br>
      <p>{{ post.content | split:'<!--more-->' | first }} </p>
      <br style="clear:both">
      <div class="pagination" style="float:left;">
      <ul>
      <li><a class="pagination" href="{{ BASE_PATH }}{{ post.url }}" title="{{ post.title }}">Read more</a></li>
      </ul>
      </div>
      <br style="clear:both">
      <hr>
      <br>
    </li>
  {% endfor %}
</ul>

