---
layout: page
title: PyESL
tagline: Elements of Statistical Learning in Python
header: PyESL
group: navigation
---
{% include JB/setup %}
<img class="img-right" align="right" src="/images/python-logo-generic.png">
<p>Inspired by Carl Vogel's <a href="http://slendermeans.org/pages/will-it-python.html">site</a>, PyESL chronicles my journey through each chapter of <a href="http://statweb.stanford.edu/~tibs/ElemStatLearn/">Elements of Statistical Learning</a> using <a href="http://www.python.org">Python</a>. While <a href="http://sujitpal.blogspot.com/2014/05/ipython-notebooks-for-statlearning.html">others</a> have documented their experience through <a href="http://www-bcf.usc.edu/~gareth/ISL/ISLR%20Fourth%20Printing.pdf">Introduction to Statistical Learning with Applications in R</a> (ISLR), this set of blog posts will serve as my own personal record and annotations of PyESL. Check back for ongoing updates!</p>
<br>
<br>
{% assign posts = site.tags['pyesl'] | sort:"weight" %}
{% for post in posts %}
  <h3><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h3>
  <p class="greydate">{{ post.date | date: "%B %-d %Y" }}</p>
  <br>
{% endfor %}
