<!DOCTYPE html>
<html lang="en">
  <head>
    <title>You got served</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>

  <div class="container">
    <h2>You got served</h2>
    <ul class="nav nav-tabs">
      {% set mybool = 0 %}
      {% for title,div in div_dict.items() %}

        <li {% if mybool is equalto 0 %} class = "active" {% endif %}><a data-toggle="tab" href="#{{ title }}">{{ title[1:] }}</a></li>
        {% set mybool = 1 %}
      {% endfor %}
    </ul>
    <div class="tab-content">
        {% set mybool = 0 %}
        {% for title,div in div_dict.items() %}
          
          <div id="{{ title }}" class="tab-pane fade{% if mybool is equalto 0 %} in active {% endif %}">
          <div class="bk-root">
            <div>{{ div | safe }}</div>
          </div>
          </div>
          {% set mybool = 1 %}
        {% endfor %}
    </div>

  </div>


  </body>
</html>