<div class="page-header">
  <h1>{{ page.title }} <small>{{page.tagline}}</small></h1>
</div>

<div class="row">
  <div class="span8">
    {{ content }}
    <hr style="clear:both;">
    <div style="display:inline;float:left;">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="seanmylaw" data-size="large">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <h4>Published</h4>
      <p class="greydate">{{ page.date | date: "%b %-d, %Y" }}</p>
      {% unless page.tags == empty %}
        <h4>Tags</h4>
        <ul class="tag_box">
          {% assign tags_list = page.tags %}
          {% include JB/tags_list %}
        </ul>
      {% endunless %}
    </div>

    <div class="pagination">
      {% for tag in page.tags %}
        {% if tag == "pyesl"%}
          <ul>
            {% assign posts = site.tags['pyesl'] | sort:"weight" %}
            {% for post in posts %}
              {% if post.url == page.url %}
                {% assign last_inx = forloop.index0 | minus:1 %} 
                {% if forloop.first == false %}
                  <li class="prev"><a href="{{ BASE_PATH }}{{ posts[last_inx].url }}" title="{{ posts[last_inx].title }}">Older</a></li>
                {% else %}
                  <li class="prev disabled"><a>Older</a></li>
                {% endif %}
                <li><a href="{{ BASE_PATH }}{{ site.JB.pyesl_path }}">PyESL</a></li>
                {% if forloop.last == false %}
                  {% assign next_inx = forloop.index0 | plus:1 %}
                  <li class="next"><a href="{{ BASE_PATH }}{{ posts[next_inx].url }}" title="{{ posts[next_inx].title }}">Newer</a></li>
                {% else %}
                  <li class="next disabled"><a>Newer</a>
                {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}
      {% if page.previous %}
      <ul>
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">Older</a></li>
      {% else %}
        <li class="prev disabled"><a>Older</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Blog</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Newer</a></li>
      {% else %}
        <li class="next disabled"><a>Newer</a>
      {% endif %}
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="span8">
    <hr>
    {% include JB/comments %}
  </div>
</div>
